<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand"><img class="img-fluid rounded" src="/assets/icons/bhojpurimirroricon.jpg" matTooltip="BhojpuriMirror"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">
          <mat-icon class="header-icon" matTooltip="Home page">home</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/hindisamacharpdf">
          <mat-icon class="header-icon" matTooltip="HindiSamachar PDF">picture_as_pdf</mat-icon>
        </a>
      </li>

      <!-- <li class="nav-item">
          <a class="nav-link " href="#">Worklife</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">Travel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Sport</a>
          </li> -->
    </ul>
    <ul class="navbar-nav ml-auto header-icon">
      <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/feedback">
          <mat-icon>feedback</mat-icon>
          <span>Feedback</span>
        </button>
        <button mat-menu-item routerLink="/login">
          <mat-icon matTooltip="Login">login</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item routerLink="/newarticle" >
          <mat-icon matTooltip="Add article">add</mat-icon>
          <span>Create Article</span>
        </button>
      </mat-menu>

    </ul>
  </div>
</nav>