<div class="container">
    <form [formGroup]="news">
    <div class="row mt-5" *ngIf="loggedIn=='true'">
        <div class="col-sm-10"></div>
        <div class="col-sm-1">
            <button mat-icon-button class="float-right" *ngIf="viewDetails">
                <mat-icon matTooltip="Edit" (click)="editArticlePage()">create</mat-icon>
            </button>
        </div>
            <div class="col-sm-1">
               <button mat-icon-button class="float-right" *ngIf="viewDetails">
                <mat-icon matTooltip="Delete" (click)="deleteNews()">delete</mat-icon>
               </button>
            </div>
        
    </div>
    <div class="mt-5 row" >
        <div class="col-sm-12" *ngIf="viewDetails">
            <p class="text-center article-title">{{title}}</p>
        </div>
        <div class="col" *ngIf="!viewDetails">
            <mat-form-field class="full-width">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" value="{{title}}" maxlength="20" placeholder="TITLE..." >
            </mat-form-field>
        </div>
    </div>
    <div class="row mt-5" *ngIf="!viewDetails">
        <div class="col-sm-6">
            <mat-form-field class="full-width">
                <mat-label>Select Section of news</mat-label>
                <mat-select formControlName="section" [(value)]="section">
                  <mat-option value="Sports" >Sports</mat-option>
                  <mat-option value="Entertainment">Entertainment</mat-option>
                  <mat-option value="World">World</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm-6" *ngIf="!viewDetails">
            <mat-form-field class="full-width">
                <mat-label>Short Description</mat-label>
                <input matInput formControlName="shortDescription" value="{{shortDescription}}" maxlength="150" placeholder="Describe in less than 50 words what this article is about ......" >
            </mat-form-field>
           </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12" *ngIf="viewDetails">
            <img [src]="imageFile" class="rounded image-size">

        </div>
        <div class="col-sm-12" *ngIf="!viewDetails">
            <div class="row mt-5">
                <div class="col-sm-6 " >
                    <mat-form-field class="full-width">
                        <ngx-mat-file-input formControlName="imgFile" [accept]="'.png,.jpg'" placeholder="Select image file" 
                        >
                        </ngx-mat-file-input>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 " >
                   <img [src]="imageFile" width="100%" height="100%">
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12" *ngIf="viewDetails">
            <p> {{imageDescription}}</p>
        </div>
        <div class="col-sm-12" *ngIf="!viewDetails">
            <mat-form-field class ="full-width">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" value="{{imageDescription}}" placeholder="Write your article in details...."></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="mt-5 row"  *ngIf="!viewDetails">
        <div class="col-sm-12 text-center">
            <button mat-raised-button  type="submit"  color="primary"
            [disabled]="!news.valid"
            (click)="uploadNewsToServer()">Upload News</button>
        </div>
    </div>
</form>
</div>