<div class="container-fluid">
    <form [formGroup]="news">
    <div class="row">
        <div class="col-sm-12 text-right" *ngIf="loggedIn!=''">
            <button mat-icon-button [matMenuTriggerFor]="actions">
                <mat-icon matTooltip="more">more_vert</mat-icon>
                <mat-menu #actions="matMenu">
                    <button mat-menu-item (click)="editArticlePage()" >
                        <mat-icon matTooltip="create" >create</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item (click)="deleteNews()" >
                        <mat-icon matTooltip="delete" >delete</mat-icon>
                        <span>Delete</span>
                      </button>
                </mat-menu>
            </button>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-12 mt-2" *ngIf="viewDetails">
            <p class="text-center"><span class="description article-title rounded shadow-sm">{{title}}</span></p>
        </div>
        <div class="col-sm-12" *ngIf="!viewDetails">
            <mat-form-field class="full-width">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" value="{{title}}" maxlength="20" placeholder="TITLE..." >
            </mat-form-field>
        </div>
    </div>
    <div class="row" *ngIf="!viewDetails">
        <div class="col-sm-6">
            <mat-form-field class="full-width">
                <mat-label>Select Section of news</mat-label>
                <mat-select formControlName="section" [(value)]="section">
                  <mat-option value="Sports" >Sports</mat-option>
                  <mat-option value="Entertainment">Entertainment</mat-option>
                  <mat-option value="World">World</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-sm-6" *ngIf="!viewDetails">
            <mat-form-field class="full-width">
                <mat-label>Short Description</mat-label>
                <input matInput formControlName="shortDescription" value="{{shortDescription}}" maxlength="150" placeholder="Describe in less than 50 words what this article is about ......" >
            </mat-form-field>
           </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-6 text-center" *ngIf="viewDetails">
            <img [src]="imageFile" class="rounded image-size shadow-sm">

        </div>
        <div class="col-sm-6 text-center" *ngIf="viewDetails">
            <p class="description shadow-sm"> {{imageDescription}}</p>
        </div>
        <div class="col-sm-12" *ngIf="!viewDetails">
            <div class="row mt-5">
                <div class="col-sm-6 " >
                    <mat-form-field class="full-width">
                        <ngx-mat-file-input formControlName="imgFile" [accept]="'.png,.jpg'" placeholder="Select image file" 
                        >
                        </ngx-mat-file-input>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 " >
                   <img [src]="imageFile" width="100%" height="100%">
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-5">
       
        <div class="col-sm-12" *ngIf="!viewDetails">
            <mat-form-field class ="full-width">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" value="{{imageDescription}}" placeholder="Write your article in details...."></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="row mb-5"  *ngIf="!viewDetails">
        <div class="col-sm-12 text-center">
            <button mat-raised-button  type="submit"  color="primary"
            [disabled]="!news.valid"
            (click)="uploadNewsToServer()">Upload News</button>
        </div>
    </div>
</form>
</div>