<div class="container" id="sectionData" style="display: none;">
    <div class="row mt-1 mb-1" *ngIf="sectionMap.size!=0">
        <div class="col-sm-3" *ngFor="let i of sectionMap | keyvalue ">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{sectionMap.get(i.key)[0].title}}</mat-card-title>
                    <mat-card-subtitle>{{sectionMap.get(i.key)[0].date}}</mat-card-subtitle>
                </mat-card-header>
                <img [src]= "sectionMap.get(i.key)[0].url" class="image-size" routerLink="/article/{{i.key}}">
                <mat-card-content>{{sectionMap.get(i.key)[0].shortDes}}</mat-card-content>
            </mat-card> 
        </div>
    </div>
</div>
<div class="mt-5" id="spinner">
    <div class="row">
       <div class="col-sm-12 text-center ">
         <div class="spinner-grow text-secondary"  role="status">
             <span class="sr-only">Loading...</span>
           </div>
       </div>
    </div>
   </div>