<div class="container" style="display: none;" id="homeData">
    <div *ngIf="sportImageMap.size!=0">
        <div class="row border-bottom">
            <div class="col-md-6">
                <p class="mt-1 mb-1">Sports</p>
            </div>
            <div class="col-md-6">
                <p class="mt-1 mb-1 float-right"><a routerLink="/section/Sports">See All</a></p>
            </div>
        </div>
        <div class="row border-bottom mt-2">
            <div class="col-md-3" *ngFor="let i of sportImageMap | keyvalue">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{sportImageMap.get(i.key)[0].title}}</mat-card-title>
                        <mat-card-subtitle>{{sportImageMap.get(i.key)[0].date}}</mat-card-subtitle>
                    </mat-card-header>
                    <img [attr.src]="sportImageMap.get(i.key)[0].url" routerLink="/article/{{i.key}}"
                        class="image-size">
                    <mat-card-content>
                        <p>{{sportImageMap.get(i.key)[0].description}}</p>
                    </mat-card-content>
                    <mat-card-actions></mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <!--world section-->
    <div *ngIf="worldImageMap.size!=0">
        <div class="row border-bottom">
            <div class="col-sm-6">
                <p class="mt-1 mb-1">World</p>
            </div>
            <div class="col-md-6">
                <p class="mt-1 mb-1 float-right"><a routerLink="/section/World">See All</a></p>
            </div>
        </div>
        <div class="row border-bottom mt-2">
            <div class="col-md-3" *ngFor="let i of worldImageMap | keyvalue">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{worldImageMap.get(i.key)[0].title}}</mat-card-title>
                        <mat-card-subtitle>{{worldImageMap.get(i.key)[0].date}}</mat-card-subtitle>
                    </mat-card-header>
                    <img [attr.src]="worldImageMap.get(i.key)[0].url" routerLink="/article/{{i.key}}"
                        class="image-size">
                    <mat-card-content>
                        <p>{{worldImageMap.get(i.key)[0].description}}</p>
                    </mat-card-content>
                    <mat-card-actions></mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <!--world section ends-->
    <!--entertainment section-->
    <div *ngIf="entertainmentImageMap.size!=0">
        <div class="row border-bottom">
            <div class="col-md-6">
                <p class="mt-1 mb-1">Entertainment</p>
            </div>
            <div class="col-md-6">
                <p class="mt-1 mb-1 float-right"><a routerLink="/section/Entertainment">See All</a></p>
            </div>
        </div>
        <div class="row border-bottom mt-2">
            <div class="col-md-3" *ngFor="let i of entertainmentImageMap | keyvalue">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{entertainmentImageMap.get(i.key)[0].title}}</mat-card-title>
                        <mat-card-subtitle>{{entertainmentImageMap.get(i.key)[0].date}}</mat-card-subtitle>
                    </mat-card-header>
                    <img [attr.src]="entertainmentImageMap.get(i.key)[0].url" routerLink="/article/{{i.key}}"
                        class="image-size">
                    <mat-card-content>
                        <p>{{entertainmentImageMap.get(i.key)[0].description}}</p>
                    </mat-card-content>
                    <mat-card-actions></mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <!--entertainment section ends-->

    <!-- <div *ngIf="imageMap.size!=undefined" >
    <img [attr.src]="imageMap.get('1')" >
</div> -->

</div>
<div class="mt-5" id="spinner">
   <div class="row">
      <div class="col-sm-12 text-center ">
        <div class="spinner-grow text-secondary"  role="status">
            <span class="sr-only">Loading...</span>
          </div>
      </div>
   </div>
  </div>
  